body {
    font-family: 'Times New Roman', Times, serif
    font-size: 20pt;
    background-color:Grey;
   color:royalblue;
   
    
    margin-top: 20pt;
    margin-bottom: 20pt;
    margin-left: 20pt;
    margin-right: 20pt;
}
h1 { 
font-family: 'Times New Roman';
    color:royalblue;
font-size: 75px; 
} 



