body {
    font-family: 'Times New Roman', Times, serif
    font-size: 40pt;
    background-color:Grey;
   color:blue;
   
    
    margin-top: 20pt;
    margin-bottom: 20pt;
    margin-left: 20pt;
    margin-right: 20pt;
}
h1 { 
font-family: 'Times New Roman';
    color:Black;
font-size: 75px; 
} 
h2{ 

font-family:Georgia;
color:rgb(112, 216, 230);
font-size: 35px;
} 

h3{

font-family: Verdana;
color:rgb(2, 81, 2),   
font-size: 25px;
}



