
<<<<<<< HEAD
body {

        background-color:blueviolet;
        font: size 20px; } 
font-family: Arial;
font-size: 60px;
background-color: aqua;
color: blueviolet;

body {
font-family: Arial;
font-size: 12px;
background-color: aqua;
color: blueviolet;

margin-top: 20pt;
margin-bottom: 20pt;
margin-left: 20pt;
margin-right: 20pt;

}
h1 { 
font-family: 'Times New Roman';
    color:cornflowerblue; 
font-size: 25px; 
} 


h2{ 

font-family:Georgia;
color:darkgreen;
font-size: 20px;
} 

h3{

font-family: Verdana;
color:cadetblue;
font-size: 15px;
}

a:link {
    color:brown;
    text-decoration: none;}
    a:visited {
    color: black;}
    a:hover {
    color:blanchedalmond;

    text-decoration: underline;}
    a:active {
    color: darkcyan;}
=======
background-color:blueviolet;
font: size 20px; } 

h1{ h1 { 

    color: rebeccapurple
}
>>>>>>> ff9997082d3875dd2bb44c77f4ad238b7ab4756a
 






